.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}

.order_id {
    position: absolute;
    top: 40px;
    right: 20px;
}

.order_total {
    font-weight: 500;
    text-align: right;
}

@media(max-width: 700px) {
    .order_id {
        position: relative;
        top: 0;
        right: 0;
    }

    h2 {
        font-size: 17px;
    }

    p {
        font-size: 15px;
    }
}

@media(max-width: 290px) {
    .order_id {
        display: none;
    }

    .order {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}