.orders {
    padding: 20px 80px;
}

.orders > h1 {
    margin: 20px 0;
}

@media(max-width: 700px) {
    .orders {
        padding: 20px 20px;
    }

    .orders > h1 {
        margin: 10px 0;
        font-size: 17px;
    }
}