.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
}

.product:hover {
    cursor: pointer;
    transform: scale(1.02);
    -webkit-box-shadow: 7px 7px 10px 2px rgb(104, 104, 104);
    box-shadow: 0 0 10px 2px rgb(104, 104, 104);
}

.product_rating {
    display: flex;
}

.product_rating_unchecked {
    filter: grayscale(1);
    color: black;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.product > button:hover {
    transform: scale(0.99);
}

.product_price {
    margin-top: 5px;
}

.product_info {
    height: 100px;
    margin: auto;
    margin-bottom: 15px;
}

.product_info_title {
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;  
    overflow: hidden;
    width: 100%;
}